<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latinize!</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form method="POST" action="/piglatinize">
      <label for="string_to_convert">Enter your phrase:  </label> <input type = "text" name = "user_phrase" />
      &nbsp;
      <input type="submit" id="submit" />
    </form>
  </body>
</html>